ul {
  list-style-type: none;
  width: 200px;
  float: right;
  margin-right: 20px;
}

li {
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.2s;
}

li:hover {
  background-color: #908888;
}
li.selected {
  background-color: #8b8787;
}
